body{
margin:0;
padding:0;
background-image: url("file:///C:/Users/Home/Desktop/img/rg.jpg");
background-size:cover;
}
.frbox{
color:white;
background-color:black;
height:280px;
width=420px;
top:20%;
left:40%;
position:absolute;
padding:50px 30px;
border-radius:10px;
border:solid 2px #6fbbd3;
}
.frbox h1{
font-family:Forte;
}
.frbox a{
font-family:Forte;
color:white;
}
.frbox p{
font-family:Forte;
}
.frbox button{
height=10px;
color:white;
background-color:red;
padding:2px 100px;
border:solid 2px bule;
border-radius:100px;
font-size:30px;
font-weight:bold;
font-family:Copperplate Gothic;
}